@import '../style/_variables.scss';

body {
  margin: 0;
}

.App {
  background-color: $bg-gray;
  padding: 20px;
}

.trainee_list {
  display: flex;
  flex-wrap: wrap;

  div,
  button {
    width: 100px;
    height: 35px;
    margin: 8px;
    text-align: center;
    line-height: 35px;
  }

  #add_trainee_btn {
    display: block;
    border: 1px solid $gray;
    line-height: 30px;
    background-color: $bg-gray;
  }

  input {
    width: 92px;
    height: 28px;
    display: block;
    margin: 8px;
  }
}
