@import '../style/_variables.scss';

// TODO feedback：全局样式建议放在reboot.scss中
body {
  margin: 0;
}

.App {
  background-color: $bg-gray;
  padding: 20px;
  font-size: $base-font-size;

  // TODO feedback：不建议使用标签选择器
  h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    // TODO feedback：可以把button样式提取成mixin
    button {
      width: 100px;
      height: 30px;
      border: none;
      color: white;
      background-color: $primary-color;
    }
  }
}

.trainee_list {
  display: flex;
  flex-wrap: wrap;

  // TODO feedback：不建议使用id选择器
  #add_trainee_btn {
    width: 100px;
    height: 35px;
    margin: 8px;
    text-align: center;
    line-height: 35px;
    display: block;
    border: 1px solid $gray;
    line-height: 30px;
    background-color: $bg-gray;
  }

  input {
    width: 92px;
    height: 28px;
    display: block;
    margin: 8px;
  }
}
