@import '../style/_variables.scss';

.group {
  border: 1px solid $gray;
  margin-bottom: 10px;

  .name {
    height: 35px;
    line-height: 35px;
    text-align: center;
    background-color: $gray;

    button {
      background-color: inherit;
      color: white;
      border: none;
    }
  }

  .trainees {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
  }
}
