@import 'variables';

.member-list {
  display: flex;
  flex-wrap: wrap;
}

.add-btn {
  width: 100px;
  height: 35px;
  margin: 8px;
  text-align: center;
  line-height: 35px;
  display: block;
  border: 1px solid $gray;
  line-height: 30px;
  background-color: $bg-gray;
}
